---
const glassStyle = {
  backdropFilter: "blur(2px)",
  WebkitBackdropFilter: "blur(2px)",
  boxShadow: "0 4px 30px rgba(0, 0, 0, 0.1)",
};
---

<section id="join-us" class="flex flex-col items-center my-32">
  <h2
    class="md:text-6xl text-5xl text-center text-teal-950 dark:text-white mb-4 font-minecraft font-bold"
  >
    Interested? <span
      class="text-amber-500 dark:text-amber-400 font-bold italic">Join us!</span
    >
  </h2>
  <p
    class="text-lg text-center max-w-180 mx-auto text-teal-700 dark:text-gray-300"
  >
    <span class="text-teal-950 dark:text-white font-bold"
      >Steel is a place where people gather</span
    > to code, chat and have fun. From talented developers to biggest yappers,
    <span class="text-teal-950 dark:text-white font-bold"
      >everyone is welcome!</span
    > We're just a bunch of people trying to make a cool Minecraft server.
  </p>
  <div class="mt-4 flex gap-4">
    <div
      class="h-12 w-12 p-2 hover:scale-110 transition-all duration-300 rounded-full border hover:opacity-100 bg-teal-600/20 dark:bg-white/30 border-teal-400 dark:border-white/40"
      style={glassStyle}
    >
      <a href="https://discord.com/invite/MwChEHnAbh">
        <img
          src="/SteelDocs/logos/discord.svg"
          alt=""
          class="dark:invert invert-0"
        />
      </a>
    </div>

    <div
      class="h-12 w-12 p-2 hover:scale-110 transition-all duration-300 rounded-full border hover:opacity-100 bg-teal-600/20 dark:bg-white/30 border-teal-400 dark:border-white/40"
      style={glassStyle}
    >
      <a href="https://github.com/Steel-Foundation/SteelMC">
        <img
          src="/SteelDocs/logos/github.svg"
          alt=""
          class="dark:invert invert-0"
        />
      </a>
    </div>
  </div>
</section>
